@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* Fundo */
  --purple-bg1: #e0b3ff;
  --purple-bg2: #b366ff;
  --purple-bg3: #9333ea;
  --purple-bg4: #6c2bd9;
  --purple-bg5: #4c1d95;

  --light-bg1: #ffffff; /* fundo principal */
  --light-bg2: #f2f2f7; /* fundo secundário */

  --dark-bg1: #000000; /* fundo principal */
  --dark-bg2: #1c1c1e; /* fundo secundário */
  --dark-bg3: #2c2c2e; /* cards */

  --light-border: #e5e5ea; /* bordas */


  /* Texto */
  --light-text1: #1c1c1e; /* texto principal */
  --light-text2: #3a3a3c; /* texto secundário */

  --dark-text1: #f2f2f7; /* texto principal */
  --dark-text2: #a1a1aa; /* texto secundário */

  /* Botões */
  --button-primary: #007aff; /* Azul padrão Apple */
  --button-primary-hover: #005bb5; /* Azul mais escuro no hover */
  --button-primary-active: #004085; /* Pressionado */
  --button-primary-disabled: #b0b0b0; /* Desabilitado */

  --button-danger: #ff3b30;
  --button-danger-hover: #e02e24;
  --button-danger-active: #b22218;

  --button-success: #34c759;
  --button-success-hover: #28a745;
  --button-success-active: #1e7e34;
}

